*{
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    display: flex;
    margin-top: 30px;
    position: relative;
    margin-left: 30px;
}
header img{
    object-fit: contain;
    object-position: center;
    cursor: pointer;
}
nav{
    display: flex;
    margin-left: 30px;
}
.nav ul{
    justify-content: center;
    display: inline-flex;
    align-items: center;
}
ul li{
    display: inline;
    font-size: 15px;
    padding-left: 30px;
}
button{
    margin-left: 300;
    padding: 10px 30px;
    align-items: center;
}
.btn{
    margin-left: 550px;
    border: none;
    background: none;
    cursor: pointer;

}
.btn2{
    border-radius: 15px;
    border: 1px solid;
    background: none;
    cursor: pointer;
}
.txt{
    
    margin-top:  100px;
    margin-left: 170px;
}
.txt h1{
    font-weight: 800;
    line-height: 50px;
    font-size: 50px;
}
.txt p{
    margin-top: 30px;
    line-height: 20px;
    font-size: smaller;
}
.btn3{
    margin-top: 30px;
    border-radius: 10px;
    background-color: black;
    color: white;
    border: none;
    font-weight: 700;
    cursor: pointer;
}
/* .logo{
    display: flexbox ;
    margin-top: 150px;
    margin-left: 170px;
        border:px;} */
    .img1{
        margin-left: 135px;
        padding: 20px;
        margin-top: 120px;
        object-fit: contain;
        position: relative;
        border: 2px;
        width: 80px;
    }
    .img2{
        padding: 20px;
        width: 50px;
    }
    .img3{
        width: 70px;
        padding: 20px;
    }
    .img4{
        width: 70px;
        padding: 20px;
    }
    /* .main{
    margin: ;
        height: 500px;
        width: 700px;
        background-image: url(./intro-section-with-dropdown-navigation-main/images/image-hero-desktop.png);
        object-position: center;
        object-fit: cover;
        background-size: cover;
        background-position: center;
        margin-left: 700px;
        margin-bottom: 900px;
    } */
    /* .main{
        display: flex;
        height: 500px;
        margin-left: 400px;
        width: 400px;
        object-fit: cover;
        object-position: top;
        margin-bottom:40px;
        
    
    } */
    .main{
        position: absolute;
        width: 400px;
        height: 480px;
        top: 50px;
        left: 400px;
        
    }